.theme-background {
	background: linear-gradient(#800000, #B00000);
	color: #ffffff;
}

.theme-alt-background {
	background: #800000;
	color: #ffffff;
}

.theme-foreground {
	background-color: #ffffff;
	color: #800000;
}

.theme-background-font-color {
	color: #ffffff
}
.border {
	border: 2px dotted #800000;
}

body {	
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
} 
  .relative-container {
	  position: relative;
  }
  .absolute-container {
	  position: absolute;
	  top: 0;
	  width: 100%;
  }
  .half-opaque {
	  opacity: 0.5;
  }
  .opaque {
	  opacity: 10.0;
	  background: black;
  }
  .main-image {
	  display: block;
	  width: 100%;
	  background-color: #f4511e;
	  opacity: 0.7;
      -moz-transform: scale(-1,1);
      -o-transform: scale(-1,1);
      -webkit-transform: scale(-1,1);
      transform: scale(-1,1);
  } 
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 0px;
	margin-bottom: 0px;
    font-family: Montserrat, sans-serif;
	overflow: hidden;
	max-height: 70vh;
	min-height: 500px;
}

.jumbotron img {
	min-height: 600px;
}

.jumbotron h1 {
	margin: 100px 25px 25px 25px;
	color: white;
	text-shadow: 2px 2px 20px #B00000;
}

.jumbotron p {
	text-shadow: 1px 1px 20px #800000;
}

.nopadding {
	padding: 0px;
}

.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
	background: transparent;
    font-size: 50px;
}
.logo-small:hover {
	color: #f4511e;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 800;
    font-style: italic;
    margin: 70px 0;
	color: yellow;
	text-shadow: 1px 1px 20px #800000;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e; 
    border-top-left-radius:25px !important;
    border-top-right-radius:25px !important;
    border-bottom-left-radius:15px !important;
    border-bottom-right-radius:15px !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-brand {
	font-family: Pacifico;
	border-radius: 2px;
	padding: 0px 6px 0px 5px;
	margin: 0px;
	background: white;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
#about {
	padding-top: 25px;
}
#about:before {
	border-top: 2px solid #800000;
	border-radius: 2px;
	width: 70%;
	margin-bottom: 10px;
	margin-left: 15%;
}
#about:after {
	border-bottom: 2px solid #800000;
	border-radius: 2px;
	width: 70%;
	margin-top: 10px;
	margin-left: 15%;
}
#about img {
	width: 100%;
}

#auto h4:hover,#manual h4:hover,#safety h4:hover,#rental h4:hover {
	color: #f4511e;
	text-decoration: none;
}

#auto p,#manual p,#safety p,#rental p:visited {
	color: white;
	text-decoration: none;
}

#auto p:hover,#manual p:hover,#safety p:hover,#rental p:hover {
	color: #f4511e;
	text-decoration: none;
}

#auto a,#manual a,#safety a,#rental a {
	margin-bottom: 50px;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 968px) {
	.jumbotron h1{
		margin-bottom: 0px;
	}
	.item h4 {
		margin: 60px 0;
		font-size: 15px;
	}
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
  .jumbotron {
	  max-height: 43vh;
	  min-height: 315px;
  }
  .jumbotron h1{
	  margin-top: 75px;
	  margin-bottom: 0px;
  }
	.carousel-indicators {
		display:none;
	}
	.item {
		padding-bottom: 0px;
	}
	.item h4 {
		margin: 30px 0;
		font-size: 15px;
	}
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
  .jumbotron {
	  max-height: 40vh;
	  min-height: 290px;
  }
  .jumbotron h1{
	  margin-bottom: 0px;
  }
	.item h4 {
		margin: 10px 0;
		font-size: 13px;
	}
	.jumbotron p {
		margin-bottom: 5px;
	}
}
.myBody {
	opacity: 0;
}

.pace-running .myBody {
	opacity: 0;
}
.pace-done .myBody {
	opacity: 1;
}